<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>explore.io</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body>
    <div id="main">
      <h1>explore<span>.io</span></h1>

      <form action="/search" method="post">
        <div class="search-area">
          <div class="form-control">
            <input
              class="input input-alt"
              placeholder="Type something here..."
              required=""
              type="text"
              name="input"
              value="<%= searchText %>"
            />
            <span class="input-border input-border-alt"></span>
          </div>

          <button type="submit" value="" class="shadow__btn">
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
        </div>
      </form>

      <div class="result-area">
        <% results.forEach(function(data){ %>
            <div class="result">
              <h2><%= data.title %></h2>
              <a href="<%= data.url %>"><%= data.url %></a>
              <p><%= data.description %></p>
            </div>
        <% }) %>
      </div>
    </div>
  </body>
</html>
